<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/student/index.css" />
    <title>ACM Open Lab Day</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <ul>
      <% labList.forEach((check) => { %>
      <li>
        <h1><%=check.labName%></h1>
        <% if (check.visited) { %>
        <p class="visited">
          Visited:
          <%=check.visitTime.getHours()%>:<%=check.visitTime.getMinutes()%>:<%=check.visitTime.getSeconds()%>
        </p>
        <% } else { %>
        <p>Not yet visited</p>
        <% } %> <% if (check.visited) { %>
        <img src="/assets/check.svg" alt="visited" class="visited-logo" />
        <% } else if (check.labName != 'Talk') { %>
        <a href="/student/lab/<%=check.labName%>">VISIT</a>
        <% } else { %>
        <a href="/student/seminar">VISIT</a>
        <% } %>
        <hr />
      </li>
      <% }) %>
    </ul>

    <%- include('../partials/popup.ejs')%>
  </body>
</html>
